@charset "UTF-8";

/* Definindo variáveis para fontes e cor */
:root {
    --primary-font: 'Segoe UI', sans-serif;
    --secondary-font: 'Segoe UI Bold', sans-serif;;
    --primary-color: #6c2eae;
}

/* Importando fontes locais */
@font-face {
    font-family: 'Segoe UI';
    src: url('Segoe Fonte/Segoe\ UI.ttf') format('truetype');
}

@font-face {
    font-family: 'Segoe UI Bold';
    src: url('Segoe Fonte/Segoe\ UI\ Bold.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    font-weight: 600;
    text-align: center;
    color: var(--primary-color);    
}

body {
    line-height: 1;
    background-color: white;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    min-height: 100dvh;
    width: 100dvw;
    margin: 0;
    padding: 0;
}