@charset "UTF-8";

#conteudo {
    width: 250px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.293);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#conteudo ul {
    list-style-type: none; /* Remove as bolinhas da lista */
    padding: 0;
    margin: 0;
    width: 100%;
}

#conteudo ul li {
    width: 90%;
    margin-left: 10px;
}

#conteudo ul li a {
    display: flex;
    align-items: center;
    text-decoration: none; /* Remove o sublinhado */
    color: var(--primary-color); /* Cor da fonte */
    margin: 5px 0px;
}

#conteudo img{
    width: 20px;
    margin: 0px 10px;
}

/* Estilização das linhas de separação */
.separador {
    border: none;
    width: 90%; /* Largura da linha de separação */
    border-top: 1px solid #ccc; /* Cor da linha de separação */
}