@charset "UTF-8";

/* Definindo variáveis para fontes e cor */
:root {
    --primary-font: 'Segoe UI', sans-serif;
    --secondary-font: 'Segoe UI Bold', sans-serif;
    --primary-color: #6b1bc6;
}

/* Importando fontes locais */
@font-face {
    font-family: 'Segoe UI';
    src: url('Segoe Fontes/SegoeUI-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Segoe UI Bold';
    src: url('Segoe Fontes/SegoeUI-Bold.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    font-weight: bold;
    text-align: center;
    color: var(--primary-color);    
}

body {
    line-height: 1;
    background-color: white;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    min-height: 100dvh;
    width: 100dvw;
    margin: 0;
    padding: 0;
}

hr{
    width: 55%;
    max-width: 200px;
    border: 0.1px solid rgba(0, 0, 0, 0.105);
    margin-bottom: 1em;
}

h1{
    margin-bottom: 1em;
}

p#bemvindo{
    font-size: smaller;
    font-weight: lighter;
    margin-bottom: 0.8em;
    color: black;
}

img#logoescrita{
    width: 100%;
    height: 150%;
    object-fit: fill;
}

#google, #Microsoft{ 
    width: 28px;
    height: 28px;
    padding-left: 25px;
}

div#foto{
    display: none;
}

div#foto > img{
    display: none;
}

div#tela{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100dvw;
    background-color: white;
}

div#campos{
    display: flex;
    flex: auto;
    flex-direction: column;
    width: 80%;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

div#foto{
    height: 100dvh;
    width: 100dvw;
}

div#campoemail, div#camposenha{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 1 auto;
    min-width: 260px;
    max-width: 90%;
    height: 45px;
    padding-left: 10px;
    margin-bottom: 1em;
    border: 1px solid rgba(0, 0, 0, 0.242);
    border-radius: 8px;
}

input[type="email"], input[type="password"]{
    width: 100%;
    height: 35px;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px;
    text-align: left;
    border: none;
    background-color: transparent;
}

input[type="email"]:focus, input[type="password"]:focus {
    outline: none; /* Remove a borda padrão */
    padding-right: 25px;
    border: 2px solid var(--primary-color); /* Adiciona uma borda personalizada */
    border-radius: 8px;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.432); 
    font-family: var(--primary-font); 
    font-size: smaller; 
    font-weight: light;
}

input[type="button"]{
    width: 35%;
    height: 35px;
    padding: 5px;
    margin: 10px 0px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
    border: none;
}

.preencher{
    border: 0px;
    padding: 0px;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
    color: var(--primary-color);
}

div#links{
    display: flex;
    flex-direction: column;;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    width: 85%;
    margin-bottom: 10px;
}

a#redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--primary-color);
    margin: 7px 0px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 85%;
    max-width: 240px;
    border-radius: 8px;
}

a img {
    margin-right: 8px; /* Espaço entre a imagem e o texto */
}

footer a{
    text-decoration: underline;
    color: black;
    border: 0px;
}
footer p{
    font-size: small;
    margin-bottom: 10px;
}
