body {
    line-height: 1;
    background-color: white;
    display: flex;
    flex-direction: row; 
    justify-content: flex-start; 
    align-items: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
}

.icons{
    background-color: var(--primary-color);
    margin-right: 5px;
    border-radius: 3px;
}

menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    width: 20%;
    height: 100dvh;
    border: 1px solid rgba(0, 0, 0, 0.293);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0px 25px 25px 0px;
}

menu p{
    color: white;
    background-color: var(--primary-color);
    font-size: 1em;
    padding-left: 2px;
    border-radius: 0px 25px 0px 0px;
}

/* Estilização da lista dentro do menu */
menu ul {
    list-style-type: none; /* Remove as bolinhas da lista */
    padding: 0;
    margin: 0;
    width: 100%;
}

menu ul li {
    width: 90%;
    margin: auto;
}

menu ul li a {
    display: flex;
    align-items: center;
    text-decoration: none; /* Remove o sublinhado */
    color: var(--primary-color); /* Cor da fonte */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
    margin-top: 10px;
}

menu ul li a:hover {
    background-color: #8923d13c; /* Cor de fundo mais clara */
}

menu ul li a.active {
    background-color: #8923d13c; /* Cor de fundo mais clara */
}

/* Estilização das linhas de separação */
.separador {
    border: none;
    width: 90%; /* Largura da linha de separação */
    border-top: 1px solid #ccc; /* Cor da linha de separação */
    margin: 10px 0; /* Espaçamento vertical */
}

.topo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    width: 100%;
    height: 7%;
    border-radius: 0px 25px 0px 0px;
}

.fundo{
    background-color: var(--primary-color);
    margin-top: auto;
    width: 100%;
    height: 7%;
    border-radius: 0px 0px 25px 0px;
}


div#exibicao {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: 100dvh;
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5.5em;
    flex-grow: 1;
    color: white;
    padding: 10px 0px 10px 30px;
}

.barra-pesquisa {
    display: flex;
    align-self: center;
    flex: auto;
    min-width: 400px;
    max-width: 700px;
    border-radius: 25px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    background-color: #f0f0f0; /* Cor de fundo */
    padding: 10px 20px; /* Espaçamento interno */
}

.entrada-pesquisa {
    content: url("../icons/pesquisar.svg"); /* Adiciona o ícone de lupa */
    text-align: start;
    width: 100%;
    border: none; /* Remove a borda padrão */
    outline: none; /* Remove o contorno ao focar */
    background: transparent; /* Fundo transparente */
    padding-left: 10px; /* Espaço para o ícone de lupa */
    font-size: 16px; /* Tamanho da fonte */
}

.botao-tema{
    align-self: center;
    margin: 5px;
}

.config{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: auto;
    margin-left: auto;
    margin-right: 95px;
    background-color: var(--primary-color);
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.293);
}

#config-conteudo{
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

#config-conteudo img{
    width: 20%;
    align-self: start;
    height: auto;
    margin: auto 10px;
    border-radius: 8px;
}

.config p{
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: small;
    color: white;
}

img#seta-expandir{
    align-self: center;
    justify-self: center;
    margin-left: 5px;
    width: 30px;
    height: 30px;
}


#nav-cadastro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 400px;
    max-width: 730px;
    height: 10%;
    flex: auto;
    padding: 10px 0px 10px 30px;
    margin-top: auto;
}

#nav-cadastro img{
   margin-right: 5px;
}


/* Estilização dos links da nav-cadastro */
#nav-cadastro a {
    display: flex;
    align-items: center;
    text-decoration: none; /* Remove o sublinhado */
    color: var(--primary-color); /* Cor da fonte */
    padding: 10px 15px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}

/* Cor de fundo ao passar o mouse */
#nav-cadastro a:hover {
    background-color: #8923d13c; /* Cor de fundo mais clara */
}

/* Cor de fundo quando o link está selecionado */
#nav-cadastro a.active {
    background-color: #8923d13c; /* Cor de fundo mais clara */
}

main{
    display: flex;
    flex-direction: row;
    align-items: self-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    color: white;
    padding: 10px 0px 10px 30px;
}

#cadastro{
    align-self: start;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 750px;
    height: 100%;
}

iframe#tela{
    align-self: start;
    display: flex;
    flex-direction: column;
    flex: auto;
    max-width: 900px;
    min-width: 400px;
    width: 100%;
    height: 100%;
}

.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 400px;
    max-width: 700px;
    border: 1px solid rgba(0, 0, 0, 0.293);
    margin-bottom: 30px;
    margin-right: auto;
    padding: 20px; /* Adiciona espaçamento interno */
    background-color: #f9f9f9; /* Cor de fundo */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
}

.perfil-foto {
    align-self: start;
    width: 100px; /* Largura da foto */
    height: 100px; /* Altura da foto */
    border-radius: 8px; /* Foto circular */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço */
    margin-bottom: 20px; /* Espaçamento abaixo da foto */
    margin-right: 5px;
}

.main-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.identificadores {
    gap: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 5px;
    width: 100%;
    height: 100%;
}

p#nome-perfil{
    font-size: 1em; /* Tamanho da fonte */
    font-weight: 500; /* Peso da fonte */
    color: black;
}

a#apelido{
    color: var(--primary-color);
    text-decoration: none;
}

p#email{
    color: var(--primary-color);
    color: #777;
    gap: 30px;
}

#pilares{
    margin-top: 30px;
}

.id-situ{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 10%;
    height: auto
}

.detalhes{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: auto;
}

.perfil-info #data-criacao {
    text-align: start;
    font-size: 14px; /* Tamanho da fonte */
    color:hsla(275, 71%, 48%, 0.696); /* Cor do texto */
    margin-bottom: 10px;
}

.perfil-info #editado-por{
    text-align: start;
    color: #8923d1d9; /* Cor do texto */
    
}

.perfil-acao{
    align-self: flex-end;
}


div#dados-cadastro{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0px 95px auto auto;
}

.cadastro-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 120px;
    border: 1px solid black;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.293);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

h3{
    background-color: var(--primary-color);
    color: white;
    width: 100%;
    padding: 8px;
    justify-self: self-start;
    border-radius: 25px 25px 0px 0px;
}

p.numero{
    font-size: 3em;
    font-weight: 500;
    align-self: center;
    margin: auto;
}
